<nav>
    <div class="nav-bar">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/page1.html">Hobbies</a></li>
            <li><a href="/pages/page2.html">Info#2</a></li>
            <li><a href="/pages/page3.html">Info#3</a></li>
            <li style="float:right"><a href="/pages/about.html">About Me</a></li>
        </ul>
    </div>
</nav>
<script>
$(function()
 { if(location.pathname === '/') {
    $('nav a[href^="' + location.pathname + 'index.html' + '"]').addClass('nav-bar-active')
} else if(location.pathname.split("/")[1] === 'pages') {
    $('nav a[href^="' + location.pathname + '"]').addClass('nav-bar-active')
} else if(location.pathname.split("/")[1] === 'index.html') {
    $('nav a[href^="' + location.pathname + '"]').addClass('nav-bar-active')
}})
</script>