* {
  margin: 0;
  padding: 0;
}


html, body {
    background-color: rgb(255, 255, 255);
    height: 100%;
}

/* header */
    .header {
      background-image: url(/img/test.gif);
      background-repeat: repeat;
      text-align: center;
      padding: 40px;
      margin-bottom: 0px;
    }

    .header h1 {
      color: rgb(255, 255, 255);
      font-family: 'Carter One', cursive;
    }
/* header */

/* nav-bar */
    .nav-bar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(0, 0, 0);
    }
    .nav-bar li {
      float: left;
    }

    .nav-bar li a {
      display: inline;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 30px 30px;
      text-decoration: none;
    }

    .nav-bar li a:hover {
      background-color: rgb(53, 145, 26);
    }

    .nav-bar-active {
        background-color: rgb(4, 90, 18);
        font-weight: bolder; 
    }
/* nav-bar */

/* container */
.container {
  min-height: 100%;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.container:after {
  display: table;
  clear: both;
}
/* container */


/* main */
.main {
  overflow: auto;
  width: 100%;
  padding-bottom: 10px;
}
/* main */

/* card */
.card {
  padding: auto;
  height: auto;
  background-color: black;
}

.card h1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: 'Carter One', cursive;
  text-align: center;
}

.card p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Carter One', cursive;
  text-align: center;
}


/* card */

/* footer */
.footer {
  background-color: rgb(0, 0, 0);
  position: relative;
  height: 70px;
  margin-top: -10px;
  background-image: url(/img/test.gif);
  background-repeat: repeat;
  clear: both;
  margin-top: 20px;
}

.footer h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Carter One', cursive;
  line-height: 70px;
}
/* footer */